<div class="row mt-2 justify-content-md-center">
  <div class="col-md-6">
    <div class="card">
      <div class="card-header">


        <h4 class="card-title">
          You loved the <%= @dish.name %> at
          <div class="badge badge-primary float-right">
            <%= Cuisine.find(@dish.id).name %>
          </h4>
        </div>
        <li class="list-group-item">
          <form action="/create_bookmark" method="post">

            <!-- Label and input for dish_id -->
            <input type="hidden" name="dish_id" value="<%= @dish.id %>">

            <!-- Label and input for venue_id -->
            <div class="form-group">


              <%= select_tag(:venue_id, options_from_collection_for_select(Venue.all, :id, :name), :class => "form-control") %>
              <button class="btn btn-primary btn">
              <i class="fa fa-heart"></i>
            </button>
            </div>

            <!-- Label and input for user_id -->
            <input type="hidden" name="user_id" value="<%= current_user.id %>">

          
       


          </form>
        </li>
        <% bookmarks = Bookmark.where(:user_id => current_user.id, :dish_id => @dish.id) %>
        <% bookmarks.each do |bookmark| %>
          <li class="list-group-item">
            <p>
              <a href="/venues/<%= Venue.find(bookmark.venue_id).id %>">
              <%= Venue.find(bookmark.venue_id).name %>
              </a>
              
            </p>
          </li>

        <% end %>


      </div>
    </div>
  </div>
</div>


</div>
</div>
